.setImg{width:100px; vertical-align: middle;}
.btnsec a{display: block;text-align: center; margin-bottom: 3px; border: 1px solid #c5c5c5; border-radius: 3px;padding: 5px;}
.table tbody tr td, .table thead tr th{vertical-align: middle; text-align: center;}
.addbtn{padding: 1px 15px; border: 1px solid #c5c5c5; margin-bottom: 10px; border-radius: 2px}
.heading-inner{margin:0 0 20px;}